---
import Link from "../components/Link.astro";
import Footer from "../components/Footer.astro";
import "../styles/globals.css";
import Metadata from "../components/Metadata.astro";
import Header from "../components/Header.astro";

---

<!DOCTYPE html>
<html>
  <Metadata />
  <body class="bg-[rgb(15,15,15)] mb-20">
    <div class="">
      <div class="mt-12 md:w-[700px]  sm:w-[400px] msm:w-full mx-auto py-20">
        <h1 class="text-4xl font-bold text-white mt-20">R&eacute;gis _ </h1>
        <div class="desc text-neutral-100">
          <p class="my-4">
            Hey &#x270B;, I'm R&eacute;gis NDIZIHIWE, a developer and a cool-designs fan.
          </p>
          <p class="my-4">
            You can send me a hi with <Link
              link="mailto:ndizihiweregis06@gmail.com"
              title="email"
            />, have a look on cool designs on <Link link="https://behance.net/nregis" title="behance"/>,go through my codes on <Link
              link="https://github.com/ndzhwr"
              title="github"
            /> or chit-chat with me on <Link
              link="https://twitter.com/ndizihiwe_r"
              title="twitter"
            />
          </p>
          <p class="my-8">Good vybes!</p>
          <Footer />
        </div>
      </div>
    </div>
  </body>
</html>
