---
import Link from "../components/Link.astro";
import Footer from "../components/Footer.astro";
import "../styles/globals.css";
import Metadata from "../components/Metadata.astro";
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html>
  <Metadata />
  <body class="bg-[#010b14] mb-20">
    <!-- <Header /> -->
    <div class="">
      <div class="mt-12 md:w-[700px]  sm:w-[400px] msm:w-full mx-auto py-20">
        <h1 class="text-4xl font-bold text-white mt-10">Regis NDIZIHIWE</h1>
        <div class="desc text-neutral-100">
          <p class="my-4">
            Hey! I'm Regis, A passionate developer based in Rwanda, fetching
            software development skills at
            <Link link="https://rca.ac.rw" title="Rwanda coding academy" /> and other
            worldwide coding camps.
          </p>
          <p class="my-4">
            I've been buiding various web applications with modern web
            development frameworks and Libraries like Next.js, Nuxt.js and
            Astrojs all with Typescript.
          </p>

          <p class="my-4">
            Outside the world of programming, I enjoy listening to music and
            building artistic things mostly paper-works and others.
          </p>
          <p class="my-4">
            You can send me a hi with <Link
              link="mailto:ndizihiweregis06@gmail.com"
              title="Email"
            /> , see more of my work on my <Link
              link="https://github.com/ndzhwr"
              title="GitHub"
            /> or chit-chat with me on <Link
              link="https://twitter.com/ndizihiwe_r"
              title="Twitter"
            />
          </p>
          <p class="my-8">Good vybes!</p>
          <Footer />
        </div>
      </div>
    </div>
  </body>
</html>
