---
import Logo from '../public/logo.svg'
---

<!DOCTYPE html>
<html lang="en">
<body>
    <nav class="flex  gap-20 items-center ">

        <img src={Logo} alt="" class="w-16 h-16 hover:opacity-75">
        <div class="flex justify-between align-center gap-4 text-sm  text-neutral-700 " >
            <a href="#" class="px-4 hover:opacity-75">Home</a>
            <a href="#" class="px-4 hover:opacity-75">Projects</a>
            <a href="#" class="px-4 hover:opacity-75"> Blog</a>
            <a href="#" class="px-4 hover:opacity-75"> Contact</a>
        </div>
    </nav>
</body>
</html>