---
import Logo from "../public/logo2.svg";
import GithubIcon from '../assets/github.svg'
import TwitterIcon from '../assets/twitter.svg'
---

<div class="bg-gradient-to-r from-red-400 via-blue-500 to-green-500 h-2" />
<div class="px-[30vw] bg-slate-50">

    <nav  class="flex gap-20 items-center justify-between border-b border-gray-100 py-6 m">
        <div class="flex gap-20 items-center " >
            
            <img src={Logo} alt="" class="w-10 h-10" />
            <div class="flex justify-between align-center gap-4 text-sm text-slate-500">
                <!-- <a href="/" class="px-4 hover:opacity-75">Home</a>
                <a href="/projects" class="px-4 hover:opacity-75">Projects</a>
                <a href="#" class="px-4 hover:opacity-75">Blog</a> -->
            </div>
        </div>
        <!-- <div class="social_media flex items-center gap-6">
            <a  target="_blank" href="https://github.com/ndzhwr"><img src={GithubIcon} class="w-5 hover:opacity-75 h-10 fill-slate-500" /></a>
            <a  target="_blank" href="https://twitter.com/ndzhwr"><img src={TwitterIcon} class="w-5 hover:opacity-75 h-10 fill-slate-500" /></a>
            
        </div> -->
    </nav>
</div>
