---
const { link , title } = Astro.props
---
    <a href={link} target="_top" class=" hover:border-b border-neutral-300  border-dashed  px-0 duration-50 text-sky-400 hover:text-neutral-600   ">
        { title}
    </a>
