---
import Header from "../../components/Header.astro"
import '../../styles/globals.css'
import Project from "../../components/Project.astro";
import Footer from "../../components/Footer.astro";

---

<div>
    <Header />
    <div class="msm:px-10 md:px-40 ">
        <div class=" h-6 msm:px-10 md:px-52 py-20 ">
            <div class="head">
                <h1 class="text-4xl font-bold pt-5">Projects</h1>
                <p class="text-neutral-200">Things I've been working on </p>
            </div>
            <div class="md:grid msm:grid-cols-1 md:grid-cols-2 py-4">
                <Project />
                <Project />
                <Project />
                <Project />
                <Project />
                <Project />
                <Project />
            </div>

            <Footer />
        </div>
    </div>
</div>